html, body {
    margin: 0px;
}

body {
    text-align: center;
    background-color: #212121;
    color: blanchedalmond;
    display: grid;
    align-content: center;
    justify-items: center;
}

a {
    text-decoration: underline;
}

#footer {
    background-color: #424242;
    height: 50px;
    width: 100%;
    vertical-align: middle;
    margin: 0px;
    margin-top: 20px;
    overflow: hidden;
}

#settings {
    border-radius: 4px;
    width: 50vw;
    font-size: large;
    box-sizing: content-box;
    text-align: start;
    background-color: #424242;
    padding: 16px;
}

.hidden {
    display: none;
}

#level-change:hover {
    cursor: pointer;
}

#settings-difficulty {
    margin: 10px;
}

#settings-custom {
    margin: 10px;
}

#settings-other {
    margin: 10px;
}

#minesweeper {
    margin-top: 10px;
    display: inline-flex;
    /* width: 50vw; */
    flex-direction: column;
    padding: 16px;
    background-color: #424242;
    border-radius: 4px;
}

#boardgame {
    box-sizing: content-box;
    display: grid;
    margin-top: 16px;
}

#header {
    display: inline-flex;
    height: 50px;
    flex-direction: row;
    font-size: xx-large;
    background-color: #212121;
    padding: 16px;
    border-radius: 4px;
    justify-content: space-between;
}

#overlay {
    display: none;
    width: 50vh;
    height: 50px;
    z-index: 2;
    text-align: center;
    vertical-align: middle;
    font-size: xx-large;
}

#overlay.positive {
    background-color: green;
    display: block;
}

#overlay.negative {
    background-color: red;
    display: block;
}

#face, #timer, #mines {
    background-color: #424242;
    padding: 16px;
    position: relative;
    border-radius: 4px;
}

#face:hover {
    cursor: pointer;
}

.row {
    display: inline-block;
    box-sizing: content-box;
    font-size: 0px;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: powderblue;
    display: inline-block;
    margin: 1px 1px 0px 0px;
    vertical-align: middle;
    font-size: xx-large;
    text-align: center;
}

.cell.covered {
    background-color: darkcyan;
}

.cell.covered.highlight {
    background-color: powderblue;
}

.cell.covered:hover {
    cursor: pointer;
    opacity: .8;
}

.cell.covered.flagged {
    color: red;
    opacity: 1;
}

.cell.covered.doubt {
    color: black;
    opacity: 1;
}

.cell.mine {
    color: black;
}

.cell.mine-count-1 {
    color: blue;
}

.cell.mine-count-2 {
    color: green;
}

.cell.mine-count-3 {
    color: red;
}

.cell.mine-count-4 {
    color: purple;
}

.cell.mine-count-5 {
    color: maroon;
}

.cell.mine-count-6 {
    color: turquoise;
}

.cell.mine-count-7 {
    color: black;
}

.cell.mine-count-8 {
    color: gray;
}
